@charset "UTF-8";
@import "./common/var";

div{
    box-sizing: border-box;
}
.elx-param-form {
    max-height: 340px;
    overflow-y: auto;
    color: $--color-font;
}
.elx-param-form .param-content {
    display: inline-block;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    min-width: 740px;
}
.elx-param-form .api-info-left {
    width: 130px;
    float: left;
    border-right: 1px dashed #e5e5e5;
}
.elx-param-form .api-info-left li {
    line-height: 30px;
    margin-bottom: 10px;
}
.elx-param-form .panel-right .el-switch {
    margin-top: 5px;
}
.elx-param-form .api-info-right {
    width: calc(100% - 130px);
    float: left;
}
.elx-param-form .input-item {
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 5px
}
.elx-param-form .input-item .el-switch {
    margin-left: 10px;
    margin-right: 10px;
}
.elx-param-form .api-info-right .label{
    width: 50px;
    line-height: 30px;
    text-align: right;
    margin-right: 10px;
    display: inline-block;
}
.elx-param-form select.select-control.disabled {
    background: #EFF2F7;
}
.elx-param-form .select-control {
    height: 30px;
    line-height: 30px;
    padding: 0px;
    padding-left: 4px;
    width: 100px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    display: inline-block;
    background-image: none;
}
.elx-param-form .api-info-right .el-select, .elx-param-form .api-info-right .el-input {
    display: inline-block;
    width: 100px;
}
.elx-param-form .api-info-right .el-input.regExp{
    width: 205px;
}