.elx-placeholder{
    min-height: 100px;
    font-size: 16px;
    color: #d3d3d3;
    text-align: center;
    border: 1px dashed #eaeaea;
    box-sizing: border-box;
    position:relative;
    background-color: white;
}
.elx-placeholder-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}