.elx-slider-vertical.el-slider {
    height: 100%;
}
.elx-slider-vertical .el-slider__runway {
    width: 4px;
    height: 100%;
    margin: 8px 13px;
}
.elx-slider-vertical .el-slider__stop {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.elx-slider-vertical .el-slider__button-wrapper {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left:-16px;
}
.elx-slider-vertical .el-slider__bar {
    width: 4px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    display: none;
}
.elx-slider-vertical .el-slider__button {
    width: 10px;
    height: 10px;
}