.date-button-group .el-button-group{
    margin-right: 10px;
    vertical-align: bottom;
  }
  .date-button-group button.el-button {
    width: auto;
    padding: 0px 11px;
    line-height: inherit;
  }
  .date-button-group button.el-button:hover {
    background-color: #82cafb;
    border-color: #82cafb;
    color:white 
  }
  .date-button-group button.el-button.active {
    background-color: #47b2fb;
    border-color: #47b2fb;
    color:white 
  }
  .date-button-group button.el-button.active+.el-button {
    border-left-color: #47b2fb; 
  }