@charset "UTF-8";
@import "./common/var";

.elx-select-input {
    width: 100%;
	display: table;
	border-collapse: separate;
}
.elx-select-input>.select-input-group {
    display: table-cell;
    vertical-align: middle;
}
.elx-select-input .el-input input {
    border-radius: 5px 0px 0px 5px;
}
.elx-select-input .icon-button {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    text-align: center;
    background: #fff;
    color: $--color-zxb-25;
    cursor: pointer;
}
.elx-select-input .icon-button span {
    display: block;
    width: 100%;
    padding: 0 10px;
    height: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid $--color-zxb-15;
    border-left: 0;
}