.el-form-item__content [class^="uex-icon-"] {
    vertical-align: baseline;
}
.elx-form .el-slider__button-wrapper {
    top: -14px;
}
.elx-form .el-input-number__decrease, 
.elx-form .el-input-number__increase {
	line-height: 22px;
}
span.label-help.uex-icon-help.el-tooltip {
    margin: 0px 2px;
    color: #ccd5e0;
}
.elx-form .el-form-item__label>span>span{
	float: right;
}
.elx-form .el-form-item.is-error .el-form-item .el-input__inner,
.elx-form .el-form-item.is-error .el-form-item .el-textarea__inner {
    border-color: #bfcbd9;
}
.elx-form .el-form-item.is-error .el-form-item.is-error .el-input__inner,
.elx-form .el-form-item.is-error .el-form-item.is-error .el-textarea__inner {
    border-color: #ff4949;
}
.elx-form .el-switch__label * {
    top: 5px;
}
.elx-form .el-switch__label,
.elx-form .el-switch__label * {
    font-size: 12px;
}
.elx-form  .el-form-item__content .el-select.is-multiple {
    display: inline-block;
    width: 100%;
}
.elx-form .el-cascader__label {
    line-height: 24px;
}
.elx-form form.el-form.inline .el-form-item {
    display: inline-block;
    vertical-align: top;
}
.elx-form form.el-form.inline label.el-form-item__label {
    text-align: right;
}
.elx-form form.el-form.inline .elx-form-item .el-form-item__content {
    width: 200px;
}
.elx-form form.el-form.inline .elx-form-item.paramForm,
.elx-form form.el-form.inline .elx-form-item.formGroup,
.elx-form form.el-form.inline .elx-form-item.operateParam,
.elx-form form.el-form.inline .elx-form-item.cardForm,
.elx-form form.el-form.inline .elx-form-item.remoteTransfer,
.elx-form form.el-form.inline .elx-form-item.inputTextarea,
.elx-form form.el-form.inline .elx-form-item.tableForm,
.elx-form form.el-form.inline .elx-form-item.codeMirror {
    display: block;
}
.elx-form form.el-form.inline .elx-form-item.paramForm label.el-form-item__label,
.elx-form form.el-form.inline .elx-form-item.formGroup label.el-form-item__label,
.elx-form form.el-form.inline .elx-form-item.operateParam label.el-form-item__label,
.elx-form form.el-form.inline .elx-form-item.cardForm label.el-form-item__label,
.elx-form form.el-form.inline .elx-form-item.remoteTransfer label.el-form-item__label,
.elx-form form.el-form.inline .elx-form-item.inputTextarea label.el-form-item__label,
.elx-form form.el-form.inline .elx-form-item.tableForm label.el-form-item__label,
.elx-form form.el-form.inline .elx-form-item.codeMirror label.el-form-item__label  {
}
.elx-form form.el-form.inline .elx-form-item.radioCard .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.radio .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.checkbox .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.checkboxButton .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.slider .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.radioCard .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.paramForm .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.formGroup .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.operateParam .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.cardForm .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.remoteTransfer .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.inputTextarea .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.tableForm .el-form-item__content,
.elx-form form.el-form.inline .elx-form-item.codeMirror .el-form-item__content {
    width: auto;
}