@charset "UTF-8";
@import "./common/var";

.elx-siderbar-p {
	height: 100%;
	background: $--menu-bg-color;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.elx-siderbar-content {
	height: 100%;
	width: 100% !important;
}
.elx-siderbar-p .fade-enter-active, .elx-siderbar-p .fade-leave-active {
    transition: all 100ms linear;
}
.elx-siderbar-p .fade-enter, .elx-siderbar-p .fade-leave-to{
    width: 0px;
    opacity: 0
}
.elx-siderbar-p,.elx-siderbar-p .outer-menu,.elx-siderbar-p .elx-sidebar-intro,.elx-siderbar-p .elx-siderbar-content,.elx-siderbar div#sidebar,.elx-siderbar div#sidebar .outer-menu.active {
	transition: width 100ms linear, height 100ms linear;
}

.elx-siderbar-p.hide, .elx-siderbar-p.hide .outer-menu, .elx-siderbar-p.hide .elx-sidebar-intro,.elx-siderbar-p.hide .elx-siderbar-content,.elx-siderbar-p.hide div#sidebar,.elx-siderbar-p.hide div#sidebar .outer-menu.active {
	width: 28px
}
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none){  
    .elx-siderbar-p.hide, .elx-siderbar-p.hide .outer-menu, .elx-siderbar-p.hide .elx-sidebar-intro,.elx-siderbar-p.hide .elx-siderbar-content,.elx-siderbar-p.hide div#sidebar,.elx-siderbar-p.hide div#sidebar .outer-menu.active {
	    width: 37px
    } 
} 

.elx-siderbar-p.hide .elx-sidebar-operate {
	transform: rotate(180deg);
}

.elx-siderbar-p.hide .elx-sidebar-operate:hover {
	transform: rotate(180deg) scale(1.2);
}

.elx-siderbar-p div#sidebar {
	background: $--menu-bg-color;
	width: 100% !important;
	position: relative
}
.elx-siderbar-p div#sidebar .outer-menu{
	width: 100%;
}
.elx-siderbar-p div#sidebar .menu-content {
	height: 100%
}

.elx-siderbar-p .outer-menu {
	position: static;
	position: initial;
	background-color: $--menu-bg-color;
}

.elx-siderbar-p .show-more {
	display: none
}

.elx-sidebar-intro {
	padding: 0 10px;
}

.elx-siderbar-title {
	font-size: 14px;
	color: $--color-zxh-85;
	font-weight: 600;
	padding: 0 7px;
	line-height: 48px;
	white-space: nowrap;
	cursor: pointer
}

.elx-siderbar-descr {
	padding: 0px 7px;
    word-wrap: break-word;
    color: $--color-zxh-45;
    margin-bottom: 10px;
    max-height:51px;
    overflow:hidden;
    word-break: break-all;
}

.elx-siderbar-p .separate {
	border-top: 1px solid $--color-zxh-15;
    margin-bottom: 10px;
}

.elx-sidebar-operate:hover {
	transform: scale(1.2);
}

.elx-sidebar-operate {
	position: absolute;
	top: calc(50% - 20px);
	right: -20px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	line-height: 40px;
	font-size: 17px;
	color: #aab6c8;
	z-index: 110;
	transition: transform 100ms linear;
}

.elx-sidebar-operate-back {
	width: 0;
	height: 0;
	border-left: 20px solid #dadde5;
	border-top: 20px solid #dadde5;
	border-right: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-radius: 40px;
	transform: rotate(-45deg);
}

.elx-sidebar-operate span.uex-icon-d-arrow-left {
	display: inline-block;
	margin-left: 5px;
	position: absolute;
	top: 12px
}

.elx-siderbar-p.hide .elx-sidebar-intro .separate,.elx-siderbar-p.hide .elx-sidebar-operate,.elx-siderbar-p.hide .elx-siderbar-descr,.elx-siderbar-p.hide .elx-siderbar-title span:not(.uex-icon) {
	display: none
}

.elx-siderbar-title span.uex-icon {
	margin-left: 5px;
	margin-right: 7px
}

.elx-siderbar-p .narrow-menu>ul>li>.list>a {
	background-color: $--menu-bg-color;
}

.elx-narrow-sidebar li {
	padding: 10px 0px;
	text-align: center;
	border-bottom: 1px solid #CCD5E0;
	cursor: pointer
}

.elx-narrow-sidebar {
	background: rgba(239,242,247,.7)
}

.elx-siderbar-p.hide .elx-sidebar-intro {
	background: rgba(204,213,224,.7);
	height: 30px;
	border-radius: 0 5px 0 0
}

.elx-siderbar-p.hide .elx-sidebar-intro .elx-siderbar-title {
	line-height: 30px;
	color: #fff;
	padding: 0;
	text-align: center
}

.elx-narrow-sidebar li:last-child {
	border-bottom: 0
}

.elx-narrow-sidebar li a span {
	color: $--color-font
}

.elx-siderbar-p.hide {
	height: auto;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px #d3d3d3;
    margin-top: 0px; 
    transform: translate(0,-50%);
    top: 50%;
    left: 0px;
    display: inline-block;
    max-height: calc(100% - 100px);
    overflow: hidden;
    background: rgba(239,242,247,.7);
}

.elx-siderbar-p.hide:hover {
	overflow: auto
}

.elx-siderbar-p.hide .elx-siderbar-title span.uex-icon {
	margin: -2px
}

.elx-narrow-sidebar {
	border-radius: 0 0 5px
}

.elx-narrow-sidebar li.active span {
	color: #fff
}

.elx-narrow-sidebar li.active,.elx-narrow-sidebar li.open {
	background: rgba(141,154,173,.7)
}
.elx-siderbar-p .elx-sidebar-intro{
	width: 100% !important;
}
.elx-siderbar-p.hide .elx-narrow-sidebar {
    position: relative;
    z-index: 110;
    opacity: 1;
}
.elx-siderbar-p.hide div#sidebar {
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: initial !important;
}
.elx-siderbar-p .elx-narrow-sidebar {
    position: relative;
    z-index: 0;
    opacity: 0;
    transition: all 100ms linear;
}
.elx-siderbar-p div#sidebar {
    position: absolute;
    z-index: 110;
    opacity: 1;
    transition: all 100ms linear;
}
.elx-siderbar-p.hide.elx-siderbar-p-full {
	height: 100%;
	max-height: 100%;
	top: 0px;
	transform: translate(0, 0);
	border-radius: 0px;
}
.elx-siderbar-p.hide.elx-siderbar-p-full .elx-sidebar-intro {
	border-radius: 0px;
}
.elx-siderbar-p.hide.elx-siderbar-p-full .elx-narrow-sidebar {
	border-radius: 0px
}



@media (max-width: 979px) {
    .elx-siderbar-p, .elx-siderbar-p .fade-enter-active, .elx-siderbar-p .fade-leave-active, .elx-sidebar-intro, div#sidebar .outer-menu.active, .outer-menu>ul, div#sidebar.outerActive, .narrow-menu>ul>li.open>.list>a {
        width:150px;
    }
    .guide-arrow {
        left: 150px;
    }
}
@media (min-width: 980px) {
    .elx-siderbar-p, .elx-siderbar-p .fade-enter-active, .elx-siderbar-p .fade-leave-active, .elx-sidebar-intro, div#sidebar .outer-menu.active, .outer-menu>ul, div#sidebar.outerActive, .narrow-menu>ul>li.open>.list>a {
        width:160px;
    }
    .guide-arrow {
        left: 160px;
    }
}

@media (min-width: 1200px) {
    .elx-siderbar-p, .elx-siderbar-p .fade-enter-active, .elx-siderbar-p .fade-leave-active, .elx-sidebar-intro, div#sidebar .outer-menu.active, .outer-menu>ul, div#sidebar.outerActive, .narrow-menu>ul>li.open>.list>a {
        width:180px;
    }
    .guide-arrow {
        left: 180px;
    }
}