.elx-col-resize-layout {
    height: 100%;
    position: relative;
}
.elx-col-resize-layout .elx-layout-left {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #fff;
}
.elx-col-resize-layout .elx-layout-right {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #fff;
}
.elx-col-resize-layout .col-resize-split {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: #F9FAFC;
    cursor: col-resize;
    text-align: center;
    line-height: 10px;
    color: #A2B0C4;
    border-left: 1px solid #E0E6ED;
    border-right: 1px solid #E0E6ED;
}
.elx-col-resize-layout .col-resize-split span {
    position: absolute;
    left: 0px;
    top: calc(50% - 12px);
}

.elx-col-resize-layout .col-resize-split.narrow {
    background: transparent;
    border-right: 0px;
    border-left: 0px;
    z-index: 10;
}
.elx-col-resize-layout .col-resize-split.narrow:after {
    content: "";
    position: absolute;
    left: calc((100% - 2px) / 2);
    top: 0px;
    height: 100%;
    border-left: 1px solid #E0E6ED;
    z-index: 1;
}

.elx-col-resize-layout .col-resize-split.narrow:hover {
    background: transparent;
    border-right: 0px;
    border-left: 0px;
}