@charset "UTF-8";
@import "./common/var";

.elx-radio {
    height: $--height;
    line-height: $--line-height;
    display: inline-block;
    border: 1px solid $--color-zxb-15;
    color: $--color-font;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    background: white;
    margin-right: 10px;
    margin-bottom: 5px;
    &.active {
        color: $--color-font;
        border: 1px solid $--color-primary;
    }
    .lay {
        position: absolute;
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background: rgba(0,0,0,0.1);
        border-color: $--color-zxb-9;
        z-index: 11;
        cursor: not-allowed;
    }
    .el-icon-check {
        position: absolute;
        top: $--height - 1.58 * $--font-size-small;
        right: 1.45em;
        font-size: 12px;
        &:before {
            position: absolute;
            z-index: 10;
            top: 0.55em;
            left: 0.55em;
            color: white;
        }
        &:after {
            content: "";
            width: 0px;
            height: 0px;
            border-bottom: 0.75em solid $--color-primary;
            border-right: 0.75em solid $--color-primary;
            border-left: 0.75em solid transparent;
            border-top: 0.75em solid transparent;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 2;
        }
    }
}
.elx-radio-item {
    padding: 0px 16px;
}