div.elx-content {
    height: 100%;
    width: 100%;
}
.elx-content .iframe-content {
    height: calc(100% - 42px);
    overflow: hidden;
}
.elx-content div#content {
    overflow: auto;
}
.elx-content .iframe-content>div {
    width: 200%;
    height: 100%;
    transition: all 500ms;
}
.elx-content .iframe-content>div.create {
    margin-left: -100%
}
.elx-content .iframe-content>div.list {
    margin-left: 0px
}
.elx-content .iframe-content>div .elx-main, .elx-content .iframe-content>div .elx-sub-content{
    transition: all 300ms;
}
.elx-content .iframe-content>div.list .elx-main, .elx-content .iframe-content>div.create .elx-sub-content{
    opacity: 1;
    transition: all 300ms linear 300ms;
}
.elx-content .iframe-content>div.create .elx-main, .elx-content .iframe-content>div.list .elx-sub-content{
    opacity: 0
}
.elx-content .iframe-content div.elx-main {
    width: 50%;
    height: 100%;
    float: left;   
}
.elx-content .iframe-content .elx-sub-content{
    float: left;
    border:0px;
    width:50%;
    height: 100%
}
.elx-content .content-header{
    height: 42px;
    background-color: white;
    line-height: 42px;
    font-size: 14px;
    color: #A2B0C4;
}
.elx-content .content-header .content-title{
    margin-left: 15px;
    color: #475669;
    border-left: 2px solid #475669;
    padding-left: 8px;
}
.elx-content .content-header .content-title, .elx-content .content-header .content-back span.uex-icon-back{
    margin-right: 5px
}
.elx-content .content-header .content-back span.uex-icon-back {
    vertical-align: baseline;
}
.elx-content .content-header .content-back{
    font-size: 13px;
}
.elx-content .content-header .content-back, .elx-content .content-header .content-add-button{
    cursor: pointer
}
.elx-content .content-header .content-add-button{
    background: #47B2FB;
    width: 42px;
    height: 42px;
    text-align: center;
    float: right;
}
.elx-content .content-header .content-add-button i {
    font-size: 18px;
    color: white !important;
}